<section class="lesson-item-selector layout-xs-column layout-row layout-align-space-around-center">
  <div class="layout-column">
    <div class="layout-row">
      <LessonItemSelector::Surah @lessonItem={{@lessonItem}} @from={{true}}/>
      <LessonItemSelector::Ayah @lessonItem={{@lessonItem}} @from={{true}}/>
    </div>
  </div>
  <div class="layout-column">
    <div class="layout-row">
      <LessonItemSelector::Surah @lessonItem={{@lessonItem}} @from={{false}}/>
      <LessonItemSelector::Ayah @lessonItem={{@lessonItem}} @from={{false}}/>
    </div>
  </div>
</section>