<section class="lesson-item-selector">
  <LessonItemSelector::Surah @lessonItem={{@lessonItem}} @from={{true}}/>
  <LessonItemSelector::Ayah @lessonItem={{@lessonItem}} @from={{true}}/>
  <LessonItemSelector::Surah @lessonItem={{@lessonItem}} @from={{false}}/>
  <LessonItemSelector::Ayah @lessonItem={{@lessonItem}} @from={{false}}/>
  <LessonItemSelector::Quality @lessonItem={{@lessonItem}} @isQualityOne={{true}}/>
  <LessonItemSelector::Quality @lessonItem={{@lessonItem}} @isQualityOne={{false}}/>
</section>