<FullScreenDialog
  @close={{action @closeModal this.lesson}}
  @title={{concat "Create Lesson"}}
  @alwaysFullscreen={{true}}
  @dialogNoPadding={{true}}
>
  <div class="lesson-modal">
    <PaperTabs @stretch={{true}} @borderBottom={{true}} @selected={{this.selectedLessonItem}} @onChange={{action (mut this.selectedLessonItem)}} as |tabs|>
      {{#each this.lesson.lessonItems as |lessonItem|}}
        <tabs.tab @value={{lessonItem}}>
          {{lessonItem.name}}
        </tabs.tab>
      {{/each}}
      <tabs.tab @value='addNew'>Add New</tabs.tab>
    </PaperTabs>

    {{#liquid-bind (hash tab=this.selectedLessonItem.index lessonItem=this.selectedLessonItem) class="md-padding dynamic-animation" as |current|}}
      <Lessons::Modal::Body
        @lesson={{this.lesson}}
        @lessonItem={{current.lessonItem}}
        @type={{this.type}}
        @setRating={{action 'setRating'}}
        @closeModal={{@closeModal}}
        @saveLessonItem={{@saveLessonItem}}
      />
    {{/liquid-bind}}
  </div>
</FullScreenDialog>
