<FullScreenDialog
  @close={{action @closeModal this.lesson}}
  @title={{concat "Create Lesson"}}
  @alwaysFullscreen={{true}}
  @dialogNoPadding={{true}}
>
  <div class="lesson-modal">
    <PaperTabs @stretch={{true}} @borderBottom={{true}} @selected={{this.selectedLessonItem}} @onChange={{action (mut this.selectedLessonItem)}} as |tabs|>
      {{#each this.lesson.sortedLessonItems as |lessonItem|}}
        <tabs.tab @value={{lessonItem}}>
          {{lessonItem.name}}
        </tabs.tab>
      {{/each}}
      <tabs.tab @value="new">Add New</tabs.tab>
    </PaperTabs>

    {{#liquid-bind (hash lessonItem=this.selectedLessonItem) class="md-padding dynamic-animation" as |current|}}
      {{#if (eq current.lessonItem "new")}}
        <Lessons::Modal::New
          @lessonTypes={{@lessonTypes}}
          @addLesson={{action "addLesson"}}
        />
      {{else}}
        <Lessons::Modal::Body
          @lesson={{this.lesson}}
          @lessonItem={{current.lessonItem}}
          @type={{this.type}}
          @setRating={{action "setRating"}}
          @closeModal={{@closeModal}}
          @saveLessonItem={{@saveLessonItem}}
        />
      {{/if}}
    {{/liquid-bind}}
  </div>
</FullScreenDialog>
