<FullScreenDialog
  @close={{action this.closeModal this.lesson}}
  @save={{action this.saveLesson this.lesson}}
  @title={{concat "Create " this.lessonName}}
> 
  <div class="layout-column lesson-details-list">
    <div>Date:</div>
    <div>{{this.lesson.formattedDate}}</div>
    <div>Classroom:</div>
    <div>{{this.lesson.enrollment.classroom.name}}</div>
    <div>Student:</div>
    <div>{{this.lesson.enrollment.student.formattedName}}</div>
  </div>
  <LessonSelector @lesson={{this.lesson}} />
</FullScreenDialog>
