<FullScreenDialog
  @close={{action closeModal lesson}}
  @save={{action saveLesson lesson "save"}}
  @title={{concat "Create " lessonName}}
> 
  <div class="layout-column lesson-details-list">
    <div>Date:</div>
    <div>{{lesson.formattedDate}}</div>
    <div>Classroom:</div>
    <div>{{lesson.enrollment.classroom.name}}</div>
    <div>Student:</div>
    <div>{{lesson.enrollment.student.formattedName}}</div>
  </div>
  <LessonSelector @lesson={{lesson}}/>
</FullScreenDialog>
