
<div class='full-height layout-column layout-align-center-center'>
  <PaperInput 
    @value={{identification}}
    @onChange={{action (mut identification)}}
    @label="Email Address"
    @type="email"
  />
  <PaperInput 
    @value={{password}}
    @onChange={{action (mut password)}}
    @label="Password"
    @type="password"
  />
  <PaperButton @raised={{true}} @onClick={{action "authenticate"}}>
    Submit
  </PaperButton>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</div>
