<div class="login-page layout-column layout-align-center-center">
  <article class="input-box">
    <PaperForm @onSubmit={{action "authenticate"}} @class="input-form layout-column layout-align-center-center" as |form|>
      <form.input
        @value={{this.identification}}
        @onChange={{action (mut this.identification)}}
        @label="Email Address"
        @required={{true}}
        @class="flex-50"
        @type="email"
        @isTouched={{gt this.errors.length 0}}
      />
      <form.input 
        @value={{this.password}}
        @onChange={{action 'setPassword'}}
        @label="Password"
        @required={{true}}
        @type="password"
        @isTouched={{gt this.errors.length 0}}
        @errors={{this.errors}}
      />
      <form.submit-button @raised={{true}} @primary={{true}} @disabled={{form.isInvalid}}>
        Submit
      </form.submit-button>
    </PaperForm>
    <section class="link-section layout-column layout-align-center-center">
      <LinkTo @class="login-link" @route="passwords.forgot">
        Forgot your password?
      </LinkTo>

      <LinkTo @class="login-link" @route="signup">
        Register as a new user.
      </LinkTo>
    </section>
  </article>
</div>