{{#if (media "fullScreenDialog")}}
  <PaperDialog @fullscreen={{true}} @onClose={{action this.close}}>
    <PaperToolbar>
      <PaperToolbarTools>
        <PaperButton @iconButton={{true}} @onClick={{action this.close}}>
          {{paper-icon "close"}}
        </PaperButton>
        <div class="toolbar">{{title}}</div>
        <span class="flex"></span>
        <PaperButton @onClick={{action this.save}}>
          Save
        </PaperButton>
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperDialogContent>
      {{yield}}
    </PaperDialogContent>
  </PaperDialog>
{{else}}
  <PaperDialog @fullscreen={{false}} @onClose={{action this.close}}>
    <PaperDialogContent>
      <h2 class="md-title">{{title}}</h2>
      {{yield}}
    </PaperDialogContent>
    <PaperDialogActions class="layout-row">
      <span class="flex"></span>
      <PaperButton @primary={{true}} @onClick={{action this.close}}>Cancel</PaperButton>
      <PaperButton @primary={{true}} @onClick={{action this.save}}>Save</PaperButton>
    </PaperDialogActions>
  </PaperDialog>
{{/if}}

