{{#if (media 'fullScreenDialog')}}
  <PaperDialog @fullscreen={{true}} @onClose={{action close}}>
    <PaperDialogContent>
      <div>Toolbar here</div>
      {{yield}}
      <div>Somothing</div>
    </PaperDialogContent>
  </PaperDialog>
{{else}}
  <PaperDialog @fullscreen={{false}} @onClose={{action close}}>
    <PaperDialogContent>
      <h2 class="md-title">{{title}}</h2>
      {{yield}}
    </PaperDialogContent>
    <PaperDialogActions @class="layout-row">
      <span class="flex"></span>
      <PaperButton @primary={{true}} @onClick={{action close}}>Cancel</PaperButton>
      <PaperButton @primary={{true}} @onClick={{action save}}>Save</PaperButton>
    </PaperDialogActions>
  </PaperDialog>
{{/if}}

