{{#if (or (media "fullScreenDialog") this.alwaysFullscreen)}}
  <PaperDialog
    @fullscreen={{true}}
    @onClose={{action this.close}}
    @class='{{if this.alwaysFullscreen "md-dialog-always-fullscreen"}} {{if this.dialogNoPadding "dialog-no-padding"}}'
  >
    <PaperToolbar>
      <PaperToolbarTools>
        {{#unless this.hideCloseIcon}}
          <PaperButton @iconButton={{true}} @onClick={{action this.close}}>
            {{paper-icon "close"}}
          </PaperButton>
        {{/unless}}
        <div class="toolbar">{{title}}</div>
        <span class="flex"></span>
        {{#if this.save}}
          <PaperButton @onClick={{action this.save}}>Save</PaperButton>
        {{/if}}
      </PaperToolbarTools>
    </PaperToolbar>
    <PaperDialogContent>
      {{yield}}
    </PaperDialogContent>
  </PaperDialog>
{{else}}
  <PaperDialog @fullscreen={{false}} @onClose={{action this.close}} @class={{if this.dialogNoPadding "dialog-no-padding"}}>
    <PaperDialogContent>
      <h2 class="md-title">{{title}}</h2>
      {{yield}}
    </PaperDialogContent>
    <PaperDialogActions class="layout-row">
      <span class="flex"></span>
      <PaperButton @primary={{true}} @onClick={{action this.close}}>Cancel</PaperButton>
      <PaperButton @primary={{true}} @onClick={{action this.save}}>Save</PaperButton>
    </PaperDialogActions>
  </PaperDialog>
{{/if}}

