<ApplicationToolbar @name={{model.classroom.name}} @previousRoute="home.classrooms"/>

<article>
  <PaperList>
    <PaperSubheader>
      Your Students
    </PaperSubheader>
    {{#each model.classroom.students as |student|}}
      <PaperCard as |card|>
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}{{student.formattedName}}{{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#card.actions}}
          {{!-- <LinkTo @class="base-link" @route="home.classrooms.show" @model={{classroom.id}}> --}}
            <PaperButton>Show Details</PaperButton>
          {{!-- </LinkTo> --}}
            <PaperButton>Delete</PaperButton>
          {{!-- <PaperButton @onClick={{action "deleteClassroom" classroom}}>Delete</PaperButton> --}}
        {{/card.actions}}
      </PaperCard>
    {{/each}}
    <div class="extra-list-element"></div>
  </PaperList>
  {{!-- <PaperButton @accent={{true}} @raised={{true}} @fab={{true}} @class="app-fab--absolute" @onClick={{action "openCreateClassModal"}} >
    {{paper-icon "add"}}
  </PaperButton> --}}
</article>