{{assert-must-preload this.model.classroom 'enrollments.student'}}

<ApplicationToolbar @name={{this.model.classroom.name}} @previousRoute="home.classrooms" />

<article>
  <PaperList>
    <PaperSubheader>
      Your Students
    </PaperSubheader>
    {{#each this.model.classroom.enrollments as |enrollment|}}
      <PaperCard {{on "click" (action "showEnrollmentDetails" enrollment.id)}} @class="clickable" as |card|>
        <card.title as |title|>
          <title.text as |text|>
            <text.headline>{{enrollment.formattedName}}</text.headline>
          </title.text>
        </card.title>
        <card.actions>
          <LinkTo @class="base-link" @route="home.enrollments.show" @model={{enrollment.id}}>
            <PaperButton>Show Details</PaperButton>
          </LinkTo>
          <PaperButton @onClick={{action "deleteEnrollment" enrollment}}>Remove Student</PaperButton>
        </card.actions>
      </PaperCard>
    {{/each}}
    <div class="extra-list-element"></div>
  </PaperList>
  <PaperButton @accent={{true}} @raised={{true}} @fab={{true}} @class="app-fab--absolute" @onClick={{action "openCreateModal"}} >
    {{paper-icon "add"}}
  </PaperButton>
</article>

{{#if this.showCreateModal}}
  <Students::CreateStudentModal @classroom={{this.model.classroom}} @saveStudent={{action "saveStudent"}} @closeModal={{action "closeCreateModal"}} />
{{/if}}