<ApplicationToolbar @name='Classes'/>

<article>
  <PaperList>
    <PaperSubheader>
      Your classes
    </PaperSubheader>
    {{#each model.classrooms as |classroom|}}
      <PaperCard as |card|>
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}{{classroom.name}}{{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#card.actions}}
          <LinkTo @class='base-link' @route="home.classrooms.show" @model={{classroom.id}}>
            <PaperButton>Show Details</PaperButton>
          </LinkTo>
          <PaperButton @onClick={{action 'deleteClassroom' classroom}}>Delete</PaperButton>
        {{/card.actions}}
      </PaperCard>
    {{/each}}
  </PaperList>
  <PaperButton
    @accent={{true}}
    @raised={{true}}
    @fab={{true}}
    @class='app-fab--absolute'
    @onClick={{action 'openCreateClassModal'}}
    >
    {{paper-icon "add"}}
  </PaperButton>
</article>

{{#if showCreateClassModal}}
  {{#paper-dialog fullscreen=false onClose=(action "closeCreateClassModal")}}

    {{#paper-dialog-content}}
      <h2 class="md-title">Create New Class</h2>
      {{paper-input placeholder="Class Name" autofocus=true value=className onChange=(action (mut className))}}
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeCreateClassModal")}}Cancel{{/paper-button}}
      {{#paper-button primary=true onClick=(action "saveClassroom" className)}}Save{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
