<ApplicationToolbar @name="Classes"/>

<article>
  <PaperList>
    <PaperSubheader>
      Your classes
    </PaperSubheader>
    {{#each model.classrooms as |classroom|}}
      <PaperCard {{on "click" (action "showClassroomDetails" classroom.id)}} @class="clickable" as |card|>
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}{{classroom.name}}{{/text.headline}}
          {{/title.text}}
        {{/card.title}}
        {{#card.actions}}
          <LinkTo @class="base-link" @route="home.classrooms.show" @model={{classroom.id}}>
            <PaperButton>Show Details</PaperButton>
          </LinkTo>
          <PaperButton @onClick={{action "deleteClassroom" classroom}}>Delete</PaperButton>
        {{/card.actions}}
      </PaperCard>
    {{/each}}
    <div class="extra-list-element"></div>
  </PaperList>
  <PaperButton @accent={{true}} @raised={{true}} @fab={{true}} @class="app-fab--absolute" @onClick={{action "openCreateModal"}} >
    {{paper-icon "add"}}
  </PaperButton>
</article>

{{#if showCreateModal}}
  <Classrooms::CreateClassroomModal @saveClassroom={{action "saveClassroom"}} @closeModal={{action "closeCreateModal"}}/>
{{/if}}
