<section class='lesson-selector layout-xs-column layout-row layout-align-space-around-center'>
  <div class='layout-column'>
    <div class='layout-row'>
      <LessonSelector::Surah @lesson={{lesson}} @from={{true}}/>
      <LessonSelector::Ayah @lesson={{lesson}} @from={{true}}/>
    </div>
  </div>
  <div class='layout-column'>
    <div class='layout-row'>
      <LessonSelector::Surah @lesson={{lesson}} @from={{false}}/>
      <LessonSelector::Ayah @lesson={{lesson}} @from={{false}}/>
    </div>
  </div>
</section>
