<section class='lesson-selector layout-xs-column layout-row layout-align-center-center'>
  <div class='layout-row'>
    <LessonSelector::Surah @lesson={{lesson}} @from={{true}}/>
    <LessonSelector::Ayah @lesson={{lesson}} @from={{true}}/>
  </div>
  <div class='layout-row'>
    <LessonSelector::Surah @lesson={{lesson}} @from={{false}}/>
    <LessonSelector::Ayah @lesson={{lesson}} @from={{false}}/>
  </div>
</section>
