<PaperSidenavContainer @class="inner-sidenav">
  <PaperSidenav
    @class="md-whiteframe-z2"
    @name="left"
    @position="left"
    @open={{this.leftSideBarOpen}}
    @lockedOpen={{false}}
    @onToggle={{action (mut this.leftSideBarOpen)}}>
    <PaperToolbar>
      <PaperToolbarTools>{{this.currentUser.user.formattedName}}</PaperToolbarTools>
      <PaperContent>
        <PaperList>
          {{#if this.currentUser.user.isTeacher}}
            <PaperItem @onClick={{action "transitionToClassrooms"}}>
              <div class="md-list-item-text">
                <p>Classrooms</p>
              </div>
            </PaperItem>
          {{/if}}
        </PaperList>
        {{#if this.session.isAuthenticated}}
          <PaperButton @raised={{true}} @onClick={{action "invalidateSession"}}>
            Logout
          </PaperButton>
        {{/if}}
      </PaperContent>
    </PaperToolbar>
  </PaperSidenav>
</PaperSidenavContainer>
