<article class='lesson-item-container'>
  <div class='lesson-item-content'>
    <h3 class="md-title margin-1">{{@lessonItem.name}}</h3>
    <Lessons::Modal::Details @lesson={{@lesson}}/>
    <LessonItemSelector @lessonItem={{@lessonItem}}/>
    <div class='star-rating-container'>
      <StarRating
        @rating={{@lessonItem.rating}}
        @wholeOnly={{true}}
        @useHalfStars={{false}}
        @fillColor="green"
        @onClick={{action @setRating @lessonItem}}/>
    </div>

    <div class="dialog-actions">
      <PaperButton @primary={{true}} @onClick={{action @closeModal @lesson}}>
        Cancel
      </PaperButton>
      <PaperButton @primary={{true}} @onClick={{action @saveLessonItem @lesson @lessonItem @type}}>
        Save {{@lessonItem.name}}
      </PaperButton>
    </div>
  </div>
</article>