<PaperToolbar>
  <PaperToolbarTools>
    <PaperButton @iconButton={{true}} @onClick={{action (mut leftSideBarOpen)}}>
      {{paper-icon "menu"}}
    </PaperButton>
    <div>Ridwan</div>
    <span class="flex"></span>
  </PaperToolbarTools>
</PaperToolbar>

<ApplicationSidenav 
  @leftSideBarOpen={{leftSideBarOpen}}
  @invalidateSession={{invalidateSession}}
/>