<PaperToolbar>
  <PaperToolbarTools>
    {{#if previousRoute}}
      <PaperButton @iconButton={{true}} @onClick={{action "goToPreviousRoute"}}>
        {{paper-icon "keyboard_backspace"}}
      </PaperButton>
    {{else}}
      <PaperButton @iconButton={{true}} @onClick={{action (mut leftSideBarOpen)}}>
        {{paper-icon "menu"}}
      </PaperButton>
    {{/if}}
    <div class="toolbar">{{name}}</div>
    <span class="flex"></span>
  </PaperToolbarTools>
</PaperToolbar>

<ApplicationSidenav @leftSideBarOpen={{leftSideBarOpen}} />