<PaperToolbar>
  <PaperToolbarTools>
    {{#if this.previousRoute}}
      <PaperButton @iconButton={{true}} @onClick={{action "goToPreviousRoute"}}>
        {{paper-icon "keyboard_backspace"}}
      </PaperButton>
    {{else if (eq @hideSideNav false)}}
      <PaperButton @iconButton={{true}} @onClick={{action (mut this.leftSideBarOpen)}}>
        {{paper-icon "menu"}}
      </PaperButton>
    {{/if}}
    <div class="toolbar">{{this.name}}</div>
    <span class="flex"></span>
  </PaperToolbarTools>
</PaperToolbar>

{{#unless @hideSideNav}}
  <ApplicationSidenav @leftSideBarOpen={{this.leftSideBarOpen}} />
{{/unless}}