<span class='md-headline'>
  {{#if currentLesson}}
    Current Lesson
  {{else}}
    {{lesson.formattedDate}}
  {{/if}}
</span>

<div class='lessons-tile-text--list  md-subhead'>
  {{#each lesson.lessonItems as |lessonItem|}}
    {{#if (not lessonItem.isNew)}}
      <span>
        {{lessonItem.name}}:  
      </span>
      <span class='center-text'>
        {{lessonItem.fromSurahObject.transliteration}} : {{lessonItem.fromAyahString}} 
      </span>
      <span class='center-text'>to</span>
      <span class='center-text'>
        {{lessonItem.toSurahObject.transliteration}} : {{lessonItem.toAyahString}} 
      </span>
    {{/if}}
  {{/each}}
</div>