<span class="md-headline">
  {{#if this.currentLesson}}
    Current Lesson
  {{else}}
    {{this.lesson.formattedDate}}
  {{/if}}
</span>

<div class="lessons-tile-text--list  md-subhead">
  {{#each this.lesson.lessonItems as |lessonItem|}}
    {{#if (not lessonItem.isNew)}}
      <span class="font-weight-500">
        {{lessonItem.lessonType.name}}
      </span>
      <span class="center-text">
        {{lessonItem.fromSurahObject.transliteration}} : {{lessonItem.fromAyahString}}
      </span>
      <span class="center-text">to</span>
      <span class="center-text">
        {{lessonItem.toSurahObject.transliteration}} : {{lessonItem.toAyahString}}
      </span>
    {{/if}}
  {{/each}}
</div>